.container {
    width: 100%;
    height: 100%;

    /* background-color: blueviolet; */
}

.forms {
    width: 100%;
    text-align: center;
    /* background-color: aqua; */
}
body > div,
body > div > div,
body > div > div > div.login-form {
    height: 100%;}