.container {
    width: 100%;
    height: 100%;

    /* background-color: blueviolet; */
}

.center {
    text-align: center;
    color: wheat;
}


.forms {
    width: 100%;
    text-align: center;
    /* margin: 12vw 0vw; */
    /* background-color: aqua; */
}
body > div,
body > div > div,
body > div > div > div.login-form {
    height: 100%;}

.mainPage {
    background-color: aqua;
}

.error {
    color: red;
} 

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #29a54a;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #e1ddb1;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
